# setuptools>=26

# pandas
# numpy
# plotly


# # API
# fastapi
# pytz
# uvicorn
# requires.io
# pydantic

# streamlit
# requests

# scikit-learn

# tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# python-multipart
# json5==0.9.11
# jsonpointer==2.3
# jsonschema==4.17.3

streamlit
plotly
numpy
pandas
requests
